.content {
  width: 70%;
  max-width: 880px;
  height: fit-content;
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 17px * 2) / 3));
  grid-template-rows: repeat(2, auto);
  gap: 20px 17px;
}

@media screen and (max-width: 1023px) {
  .content {
    grid-template-columns: repeat(2, calc((100% - 17px) / 2));
    grid-template-rows: repeat(3, auto);
  }
}

@media screen and (max-width: 767px) {
  .content {
    width: 88%;
    margin: 36px auto 0;
    max-width: 320px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
  }
}